# DeathStarBench Configuration ConfigMap
#
# WHAT THIS DOES:
# Stores the service-config.json file that DeathStarBench microservices use
# to discover and connect to databases and other services.
#
# NOTE: This is a template. You need to copy the actual service-config.json
# from DeathStarBench source: deathstarbench-socialnetwork/socialNetwork/config/
#
# To create this ConfigMap from the actual file:
# kubectl create configmap deathstarbench-config \
#   --from-file=service-config.json=/path/to/deathstarbench-socialnetwork/socialNetwork/config/service-config.json \
#   --from-file=jaeger-config.yml=/path/to/deathstarbench-socialnetwork/socialNetwork/config/jaeger-config.yml \
#   --from-file=mongod.conf=/path/to/deathstarbench-socialnetwork/socialNetwork/config/mongod.conf \
#   --from-file=redis.conf=/path/to/deathstarbench-socialnetwork/socialNetwork/config/redis.conf

apiVersion: v1
kind: ConfigMap
metadata:
  name: deathstarbench-config
  namespace: default
  labels:
    app: deathstarbench
data:
  # Service configuration - defines how services connect to each other
  # This should be copied from deathstarbench-socialnetwork/socialNetwork/config/service-config.json
  service-config.json: |
    {
      "social-graph-mongodb": {
        "keepalive_ms": 10000,
        "addr": "social-graph-mongodb",
        "timeout_ms": 10000,
        "port": 27017,
        "connections": 512
      },
      "secret": "secret",
      "unique-id-service": {
        "keepalive_ms": 10000,
        "netif": "eth0",
        "addr": "unique-id-service",
        "connections": 512,
        "timeout_ms": 10000,
        "port": 9090
      },
      "user-service": {
        "keepalive_ms": 10000,
        "netif": "eth0",
        "addr": "user-service",
        "connections": 512,
        "timeout_ms": 10000,
        "port": 9090
      },
      "social-graph-service": {
        "keepalive_ms": 10000,
        "addr": "social-graph-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "user-timeline-service": {
        "keepalive_ms": 10000,
        "addr": "user-timeline-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "user-mongodb": {
        "keepalive_ms": 10000,
        "addr": "user-mongodb",
        "timeout_ms": 10000,
        "port": 27017,
        "connections": 512
      },
      "user-memcached": {
        "keepalive_ms": 10000,
        "addr": "user-memcached",
        "timeout_ms": 10000,
        "port": 11211,
        "connections": 512,
        "binary_protocol": 1
      },
      "social-graph-redis": {
        "keepalive_ms": 10000,
        "addr": "social-graph-redis",
        "timeout_ms": 10000,
        "port": 6379,
        "connections": 512,
        "use_cluster": 0,
        "use_replica": 0
      },
      "home-timeline-redis": {
        "keepalive_ms": 10000,
        "addr": "home-timeline-redis",
        "timeout_ms": 10000,
        "port": 6379,
        "connections": 512,
        "use_cluster": 0,
        "use_replica": 0
      },
      "user-timeline-redis": {
        "keepalive_ms": 10000,
        "addr": "user-timeline-redis",
        "timeout_ms": 10000,
        "port": 6379,
        "connections": 512,
        "use_cluster": 0,
        "use_replica": 0
      },
      "post-storage-mongodb": {
        "keepalive_ms": 10000,
        "addr": "post-storage-mongodb",
        "timeout_ms": 10000,
        "port": 27017,
        "connections": 512
      },
      "post-storage-memcached": {
        "keepalive_ms": 10000,
        "addr": "post-storage-memcached",
        "timeout_ms": 10000,
        "port": 11211,
        "connections": 512,
        "binary_protocol": 1
      },
      "url-shorten-mongodb": {
        "keepalive_ms": 10000,
        "addr": "url-shorten-mongodb",
        "timeout_ms": 10000,
        "port": 27017,
        "connections": 512
      },
      "url-shorten-memcached": {
        "keepalive_ms": 10000,
        "addr": "url-shorten-memcached",
        "timeout_ms": 10000,
        "port": 11211,
        "connections": 512,
        "binary_protocol": 1
      },
      "media-mongodb": {
        "keepalive_ms": 10000,
        "addr": "media-mongodb",
        "timeout_ms": 10000,
        "port": 27017,
        "connections": 512
      },
      "media-memcached": {
        "keepalive_ms": 10000,
        "addr": "media-memcached",
        "timeout_ms": 10000,
        "port": 11211,
        "connections": 512,
        "binary_protocol": 1
      },
      "compose-post-service": {
        "keepalive_ms": 10000,
        "addr": "compose-post-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "post-storage-service": {
        "keepalive_ms": 10000,
        "addr": "post-storage-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "home-timeline-service": {
        "keepalive_ms": 10000,
        "addr": "home-timeline-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "url-shorten-service": {
        "keepalive_ms": 10000,
        "addr": "url-shorten-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "media-service": {
        "keepalive_ms": 10000,
        "addr": "media-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "text-service": {
        "keepalive_ms": 10000,
        "addr": "text-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "user-mention-service": {
        "keepalive_ms": 10000,
        "addr": "user-mention-service",
        "timeout_ms": 10000,
        "port": 9090,
        "connections": 512
      },
      "user-timeline-mongodb": {
        "keepalive_ms": 10000,
        "addr": "user-timeline-mongodb",
        "timeout_ms": 10000,
        "port": 27017,
        "connections": 512
      }
    }
  
  # Placeholder for nginx-thrift config
  # This needs to be copied from deathstarbench-socialnetwork/socialNetwork/nginx-web-server/conf/nginx.conf
  nginx.conf: |
    # TODO: Copy actual nginx.conf from DeathStarBench source
  
  # Placeholder for Jaeger config (JSON for nginx)
  # This needs to be copied from deathstarbench-socialnetwork/socialNetwork/nginx-web-server/jaeger-config.json
  jaeger-config.json: |
    {
      "service_name": "nginx-web-server",
      "sampler": {
        "type": "const",
        "param": 1
      },
      "reporter": {
        "localAgentHostPort": "jaeger-agent:6831"
      }
    }
  
  # Jaeger config YAML file - REQUIRED by all microservices
  # Services look for this at config/jaeger-config.yml relative to their working directory
  jaeger-config.yml: |
    disabled: false
    reporter:
      logSpans: false
      localAgentHostPort: "jaeger-agent:6831"
      queueSize: 1000000
      bufferFlushInterval: 10
    sampler:
      type: "probabilistic"
      param: 0.1

